header{
    width: 100%;
    height: 200px;
    display: flex;
    margin: 0;
}


.caixa1{
    display: flex;
    width: 50%;
    height: 200px;
    position: relative;
    background-color: chocolate;
}


.caixa2{
    display: flex;
    width: 50%;
    height: 200px;
    position: relative;
    background-color: darkcyan;

}


h1{
    font-size: 35px;
    position: absolute;
    top: 80px;
    left: 220px;
}



nav{
    position: absolute;
    top: 80px;
    left: 170px;

}


.caixa2 li {
    margin-left: 20px;
    display: inline;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}


h1:hover{
    font-size: 55px;
    color: blanchedalmond;
}

.caixa2 li:hover{
    font-size: 55px;
    color: blanchedalmond;
    text-decoration: none
}
.caixa2 a:visited{
    text-decoration: none;
    color: black;
}

.caixa2 a:link{
    text-decoration: none;
    color: red}